</br></br></br><h1>Unfortunately your doctor has deactivated his or her account. Please contact your doctor if you wish to view your Entry Log Data. If you wish to continue to use Bivola, your account must be linked with a doctor who has an active account. To request help finding a doctor near you with an active account, email continue@bivola.com indicating your request.</h1></br></br></br>

<%= link_to "OK", home_page_path %>