<!DOCTYPE html>
<html>
<head>
  <title>Bulimia</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<h1>BVL</h1>
	<%= yield %>
</div>
</body>
</html>
